In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("homeprices.csv")
df.head()

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [13]:
x=df[['area']]
x

   area
0  2600
1  3000
2  3200
3  3600
4  4000

In [12]:
y = df[['price']]
y

    price
0  550000
1  565000
2  610000
3  680000
4  725000

In [14]:
import statsmodels.api as sm

In [15]:
x = sm.add_constant(x)
x

C:\Anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

   const  area
0    1.0  2600
1    1.0  3000
2    1.0  3200
3    1.0  3600
4    1.0  4000

In [16]:
OLS_model = sm.OLS(y,x)

In [17]:
result = OLS_model.fit()

In [18]:
result.summary()

C:\Anaconda3\lib\site-packages\statsmodels\stats\stattools.py:74: ValueWarning: omni_normtest is not valid with less than 8 observations; 5 samples were given.
  warn("omni_normtest is not valid with less than 8 observations; %i "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.958
Model:                            OLS   Adj. R-squared:                  0.945
Method:                 Least Squares   F-statistic:                     69.17
Date:                Sat, 09 Mar 2024   Prob (F-statistic):            0.00364
Time:                        19:14:00   Log-Likelihood:                -54.709
No. Observations:                   5   AIC:                             113.4
Df Residuals:                       3   BIC:                             112.6
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.806e+05   5.41e+04      3.337      0.044    8346.956    3.53e+05
area         135.7877     16.327      8.317      0.004      83.828     187.748
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   2.352
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.408
Skew:                          -0.528   Prob(JB):                        0.816
Kurtosis:                       2.081   Cond. No.                     2.27e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.27e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [19]:
result.params

const    180616.438356
area        135.787671
dtype: float64

In [20]:
area = pd.read_csv('areas.csv')

In [24]:
area.head()

   area
0  1000
1  1500
2  2300
3  3540
4  4120

In [25]:
area = sm.add_constant(area)

C:\Anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [26]:
area.head()

   const  area
0    1.0  1000
1    1.0  1500
2    1.0  2300
3    1.0  3540
4    1.0  4120

In [27]:
area['price'] = result.predict(area)

In [28]:
area.head()

   const  area          price
0    1.0  1000  316404.109589
1    1.0  1500  384297.945205
2    1.0  2300  492928.082192
3    1.0  3540  661304.794521
4    1.0  4120  740061.643836